#image-detail {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: var(--nasa-gap-xl);
  padding-top: var(--nasa-padding-m);
  padding-bottom: var(--nasa-padding-l);
}

#image-detail > h1 {
  color: var(--nasa-color-1);
  font-size: 2.5rem;
}

.img-detail-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-picture {
  width: 80%;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--nasa-color-3);
  border-radius: 4px;
}

.data-detail-picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  gap: var(--nasa-gap-m);
  color: var(--nasa-color-1);
}

.data-detail-picture > h2 {
  font-size: 1.8rem;
}

.data-detail-picture > p {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  #image-detail > h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 560px) {
  #image-detail > h1 {
    font-size: 2.1rem;
  }
}

@media (max-width: 500px) {
  .detail-picture {
    width: 84%;
  }
  .data-detail-picture {
    padding-left: 8%;
    padding-right: 8%;
  }

  .data-detail-picture > h2 {
    font-size: 1.4rem;
  }
  .data-detail-picture > p {
    font-size: 1.1rem;
  }
}

@media (max-width: 440px) {
  #image-detail > h1 {
    padding-left: 12%;
    padding-right: 12%;
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 310px) {
  #image-detail > h1 {
    padding-left: 10%;
    padding-right: 10%;
  }
}
