.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    120deg,
    #5a447a 10%,
    #4c3c6f 20%,
    #3a2b51 50%,
    #2d1e3e 70%,
    #1f1426 90%
  );
}
